#resultado{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    flex-direction: column;
    border: 2px solid black;
    margin-left: 550px;
    margin-right: 550px;
    font-size: 20px;
}

#botoes{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    gap: 16px;
}

button{
    border-radius: 5px;
    border: 2px solid black;
    width: 125px;
    height: 35px;
    font-size: 18px;
    background-color: blueviolet;
    color: white;
}

h1{
    display: flex;
    justify-content: center;
}

body{
    background-color: yellow;
}